.orderDelivery {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	justify-items: center;

}

.date {
	display: grid;
	grid-template-columns: auto 70%;
	grid-template-rows: auto auto;
	justify-content: center;
	align-items: center;
}

.nextDateWeekday {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 57.77px;
	height: 99.69px;
	background: #1E6FB9;
	border-radius: 4px;
	margin-right: 26.11px;
}

.dateWeekday {
	width: 24.27px;
	height: 16.61px;
	font-weight: 500;
	font-size: 11px;
	line-height: 15px;
}

.dateDay {
	width: 31.2px;
	height: 16.61px;
	font-weight: 700;
	font-size: 20px;
	line-height: 15px;
}

.dateWeekday,
.dateDay {
	color: #FFFFFF;
	text-align: center;
}

.dateDelivery {
	font-weight: 700;
	font-size: 17px;

}

.intervalDelivery {
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	padding: 8.86px 0 3.32px 0;
}

.adressDelivery {
	font-weight: 400;
	font-size: 12px;
	line-height: 13px;
	color: #949494;
}